<a href="https://colab.research.google.com/github/Vaibhav-28/vaibhav-sisodia-28-6-21/blob/main/Stock_Excel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os

In [ ]:
!pip install nsepy

In [ ]:
import datetime

In [ ]:
from datetime import date

In [ ]:
import pandas as pd

In [ ]:
import pandas_datareader as pdr

In [ ]:
from nsepy.derivatives import get_expiry_date

In [ ]:
from nsepy import get_history

In [ ]:
def newdf():
  main_frame = {'date':[],
          'symbol':[],
          'open':[],
          'high':[],
          'low':[],
          'close':[]}
  mdf = pd.DataFrame(main_frame)
  return mdf

In [ ]:
def monthlyExpiryDate(year,month):
  expiry = get_expiry_date(year=year, month=month)
  return sorted(list(expiry))[-1]

In [ ]:
def addDf(df,mdf):
  mdf = mdf.append(df,ignore_index = True)
  return mdf

In [ ]:
def globalData(ticker,start_date,end_date,mdf):
  df = pdr.get_data_tiingo(ticker,start_date,end_date ,api_key='cf3f4193b8266e9075bc5bf71d292fc02cad9a0e')
  df = df.reset_index([ 'symbol' , 'date' ])
  df = df[['date','symbol','open','high','low','close']]
  df.set_index('date',inplace=True)
  df = df.tz_convert(tz='Asia/Kolkata')
  df.index = df.index.strftime('%Y-%m-%d %I-%p')
  df.reset_index(['date'],inplace=True)
  return addDf(df,mdf)

In [ ]:
def localData(ticker,start_date,end_date,mdf):
  i_date = pd.to_datetime(start_date)
  f_date = pd.to_datetime(end_date)
  ldf = get_history(symbol=ticker,
                  start=date(i_date.year, i_date.month, i_date.day),
                  end=date(f_date.year, f_date.month, f_date.day),
                  futures=True,
                  expiry_date=monthlyExpiryDate(i_date.year,i_date.month))
  ldf = ldf[['Symbol', 'Open', 'High', 'Low', 'Close']]
  ldf.reset_index(['Date'], inplace=True)
  ldf.columns = [x.lower() for x in ldf.columns]
  return addDf(ldf,mdf)

In [ ]:
def makeExcel(df):
  df.columns = [x.capitalize() for x in df.columns]
  df.rename(columns={'Date':'Date(IST)','Symbol':'Ticker Name'},inplace=True)
  df.to_excel('data.xlsx')
  df = newdf()

In [ ]:
stdate = '2021-04-1'
enddate = '2021-07-1'

In [ ]:
globl_lst = ['GOLD','USDINR','OIL','DOW','NDAQ','CAC','DAX']

In [ ]:
gdf = newdf()

In [ ]:
for ticker in globl_lst:
  gdf = globalData(ticker,stdate,enddate,gdf)

In [ ]:
gdf

                 date symbol   open     high      low    close
0    2021-04-01 05-AM   GOLD  20.10  20.4100  19.9400  20.3700
1    2021-04-05 05-AM   GOLD  20.83  20.8850  20.3525  20.6300
2    2021-04-06 05-AM   GOLD  20.88  21.1450  20.6850  20.8800
3    2021-04-07 05-AM   GOLD  20.91  20.9500  20.5900  20.6700
4    2021-04-08 05-AM   GOLD  20.97  21.1600  20.8900  21.1600
..                ...    ...    ...      ...      ...      ...
441  2021-06-25 05-AM    DAX  34.38  34.4899  34.3300  34.3300
442  2021-06-28 05-AM    DAX  34.33  34.3300  34.0900  34.2058
443  2021-06-29 05-AM    DAX  33.98  34.0300  33.8201  33.8900
444  2021-06-30 05-AM    DAX  33.52  33.5750  33.3100  33.5700
445  2021-07-01 05-AM    DAX  33.61  33.7099  33.5433  33.6250

[446 rows x 6 columns]

In [ ]:
makeExcel(gdf)

In [ ]:
gdf = localData('NIFTY', '2021-04-1', '2021-07-01', gdf)

In [ ]:
gdf

            Date(IST) Ticker Name   Open     High      Low    Close
0    2021-04-01 05-AM        GOLD  20.10  20.4100  19.9400  20.3700
1    2021-04-05 05-AM        GOLD  20.83  20.8850  20.3525  20.6300
2    2021-04-06 05-AM        GOLD  20.88  21.1450  20.6850  20.8800
3    2021-04-07 05-AM        GOLD  20.91  20.9500  20.5900  20.6700
4    2021-04-08 05-AM        GOLD  20.97  21.1600  20.8900  21.1600
..                ...         ...    ...      ...      ...      ...
441  2021-06-25 05-AM         DAX  34.38  34.4899  34.3300  34.3300
442  2021-06-28 05-AM         DAX  34.33  34.3300  34.0900  34.2058
443  2021-06-29 05-AM         DAX  33.98  34.0300  33.8201  33.8900
444  2021-06-30 05-AM         DAX  33.52  33.5750  33.3100  33.5700
445  2021-07-01 05-AM         DAX  33.61  33.7099  33.5433  33.6250

[446 rows x 6 columns]

In [ ]:
makeExcel(gdf)